[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# Use the current script name. If an empty name is returned,
  # then we are accessing the home page. %]

[% USE Bugzilla %]
[% cgi = Bugzilla.cgi %]

[% login_target = cgi.url("-relative" => 1, "-query" => 1) %]
[% IF !login_target OR login_target.match("^token.cgi") %]
 [% login_target = "index.cgi" %]
[% END %]

<li id="mini_login_container[% qs_suffix %]" role="none">
  [% connector = "?" %]
  [% IF cgi.request_method == "GET" AND cgi.query_string %]
    [% connector = "&" %]
  [% END %]
  [% script_url = login_target _ connector _ "GoAheadAndLogIn=1" %]
  <a id="login_link[% qs_suffix %]" href="[% script_url FILTER html %]" class="show_mini_login_form header-button" data-qs-suffix="[% qs_suffix %]" role="button">
    <span class="icon" aria-hidden="true" data-icon="login"></span>
    <span class="label" role="none">Log In</span>
  </a>

  <div id="mini_login_top" class="mini-popup mini_login bz_default_hidden">
    <form action="/" method="POST" data-qs-suffix="[% qs_suffix %]">
      <input id="Bugzilla_login[% qs_suffix FILTER html %]" class="bz_login" name="Bugzilla_login" title="Login" placeholder="Email" aria-label="Email" type="email" required="">
      <input class="bz_password" id="Bugzilla_password[% qs_suffix FILTER html %]" name="Bugzilla_password" type="password" title="Password" placeholder="Password" aria-label="Password" required="">
      <input class="bz_password bz_default_hidden bz_mini_login_help" type="text" id="Bugzilla_password_dummy[% qs_suffix FILTER html %]" value="password" title="Password">
      <span class="remember-outer">
        <input type="checkbox" id="Bugzilla_remember[% qs_suffix FILTER html %]" name="Bugzilla_remember" value="on" class="bz_remember" checked="">
        <label for="Bugzilla_remember[% qs_suffix FILTER html %]">Remember me</label>
      </span>
      <input type="hidden" name="Bugzilla_login_token" value="[% get_login_request_token() FILTER html %]">
      <input type="submit" name="GoAheadAndLogIn" value="Log In" id="log_in[% qs_suffix FILTER html %]" class="check_mini_login_fields" data-qs-suffix="[% qs_suffix %]">
      <a href="#" id="hide_mini_login[% qs_suffix FILTER html %]" aria-label="Close" class="close-button hide_mini_login_form" data-qs-suffix="[% qs_suffix %]">
        <span class="icon" aria-hidden="true" data-icon="close"></span>
      </a>
    </form>
    <div class="footer">
      <a id="forgot_link[% qs_suffix FILTER html %]" href="/index.cgi?GoAheadAndLogIn=1#forgot" class="show_forgot_form" data-qs-suffix="[% qs_suffix %]">Forgot Password</a>
    </div>
  </div>
</li>

[% Hook.process('additional_methods') %]
