[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # (All the below interface elements are optional.)
  # title: string. Page title.
  # header: string. Main page header.
  # subheader: string. Page subheader.
  # header_addl_info: string. Additional header information.
  # bodyclasses: array of extra CSS classes for the <body>
  # onload: string. JavaScript code to run when the page finishes loading.
  # javascript: string. Javascript to go in the header.
  # javascript_urls: list. List of URLs to Javascript.
  # style: string. CSS style.
  # style_urls: list. List of URLs to CSS style sheets.
  # message: string. A message to display to the user. May contain HTML.
  # atomlink: Atom link URL, May contain HTML
  # generate_api_token: generate a token which can be used to make authenticated webservice calls
  #%]

[% IF message %]
  [% PROCESS global/messages.html.tmpl %]
[% END %]

[% DEFAULT
  subheader = ""
  header_addl_info = ""
  onload = ""
  style_urls = []
  javascript_urls = []
  yui = []
  generate_api_token = 0
  favicon_url = "images/favicon.ico"
%]

[% SET yui_css = {
  autocomplete => 1,
  calendar     => 1,
  datatable    => 1,
  button       => 1,
} %]

[%# Note: This is simple dependency resolution--you can't have dependencies
  # that depend on each other. You have to specify all of a module's deps,
  # if that module is going to be specified in "yui".
  #%]
[% SET yui_deps = {
  autocomplete => ['json', 'connection', 'datasource'],
  datatable    => ['json', 'connection', 'datasource', 'element'],
} %]

[%# When using certain YUI modules, we need to process certain
  # extra JS templates.
  #%]
[% SET yui_templates = {
  datatable => ['global/value-descs.js.tmpl'],
} %]

[%# These are JS URLs that are *always* on the page and come before
  # every other JS URL.
  #%]
[% SET starting_js_urls = [
    "js/yui/yahoo-dom-event/yahoo-dom-event.js",
    "js/yui/cookie/cookie-min.js",
] %]


[%# We should be able to set the default value of the header variable
  # to the value of the title variable using the DEFAULT directive,
  # but that doesn't work if a caller sets header to the empty string
  # to avoid header inheriting the value of title, since DEFAULT
  # mistakenly treats empty strings as undefined and gives header the
  # value of title anyway.  To get around that problem we explicitly
  # set header's default value here only if it is undefined. %]
[% IF !header.defined %][% header = title %][% END %]

<!DOCTYPE html>
<html lang="en">
  <head>
    [% Hook.process("start") %]
    <title>[% title %]</title>

    [% IF Param('utf8') %]
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    [% END %]

    <meta name="viewport" content="width=device-width, initial-scale=1">

    [% SET yui = yui_resolve_deps(yui, yui_deps) %]

    [% SET css_sets = css_files(style_urls, yui, yui_css) %]
    [% IF constants.CONCATENATE_ASSETS %]
      [% PROCESS format_css_link asset_url = css_sets.unified_standard_skin %]
    [% ELSE %]
      [% FOREACH asset_url = css_sets.standard %]
        [% PROCESS format_css_link %]
      [% END %]
      [% FOREACH asset_url = css_sets.skin %]
        [% PROCESS format_css_link %]
      [% END %]
    [% END %]

    [% IF style %]
      <style type="text/css">
        [% style %]
      </style>
    [% END %]

    [% IF css_sets.unified_custom %]
      [% IF constants.CONCATENATE_ASSETS %]
        [% PROCESS format_css_link asset_url = css_sets.unified_custom %]
      [% ELSE %]
        [% FOREACH asset_url = css_sets.custom %]
          [% PROCESS format_css_link %]
        [% END %]
      [% END %]
    [% END %]

    [%# YUI Scripts %]
    [% FOREACH yui_name = yui %]
      [% starting_js_urls.push("js/yui/$yui_name/${yui_name}-min.js") %]
    [% END %]
    [% starting_js_urls.push('js/global.js') %]

    [% FOREACH asset_url = concatenate_js(starting_js_urls) %]
      [% PROCESS format_js_link %]
    [% END %]

    <script type="text/javascript">
    <!--
        YAHOO.namespace('bugzilla');
        YAHOO.util.Event.addListener = function (el, sType, fn, obj, overrideContext) {
               if ( ("onpagehide" in window || YAHOO.env.ua.gecko) && sType === "unload") { sType = "pagehide"; };
               var capture = ((sType == "focusin" || sType == "focusout") && !YAHOO.env.ua.ie) ? true : false;
               return this._addListener(el, this._getType(sType), fn, obj, overrideContext, capture);
         };
        if ( "onpagehide" in window || YAHOO.env.ua.gecko) {
            YAHOO.util.Event._simpleRemove(window, "unload", 
                                           YAHOO.util.Event._unload);
        }
        [%# The language selector needs javascript to set its cookie,
          # so it is hidden in HTML/CSS by the "bz_default_hidden" class.
          # If the browser can run javascript, it will then "unhide"
          # the language selector using the following code.
          #%]
        function unhide_language_selector() { 
            YAHOO.util.Dom.removeClass(
                'lang_links_container', 'bz_default_hidden'
            ); 
        } 
        YAHOO.util.Event.onDOMReady(unhide_language_selector);

        [%# Make some Bugzilla information available to all scripts. 
          # We don't import every parameter and constant because we
          # don't want to add a lot of uncached JS to every page. 
          #%]
        var BUGZILLA = {
            param: {
                cookiepath: '[% Param('cookiepath') FILTER js %]',
                maxusermatches: [% Param('maxusermatches') FILTER js %]
            },
            constant: {
                COMMENT_COLS: [% constants.COMMENT_COLS FILTER js %]
            },
            string: {
                [%# Please keep these in alphabetical order. %]

                attach_desc_required:
                    "You must enter a Description for this attachment.",
                component_required:
                    "You must select a Component for this [% terms.bug %].",
                description_required:
                    "You must enter a Description for this [% terms.bug %].",
                short_desc_required:
                    "You must enter a Summary for this [% terms.bug %].",
                version_required:
                    "You must select a Version for this [% terms.bug %]."
            }
            [% IF generate_api_token %]
              , api_token: '[% get_api_token FILTER js FILTER html %]'
            [% END %]
        };

        [% FOREACH yui_name = yui %]
          [% FOREACH yui_template = yui_templates.$yui_name %]
            [% INCLUDE $yui_template %]
          [% END %]
        [% END %]
        [% IF javascript %]
          [% javascript %]
        [% END %]

        // Dropdown menu functionality
        function initDropdowns() {
            var dropdownButtons = document.querySelectorAll('.dropdown-button');
            
            dropdownButtons.forEach(function(button) {
                button.addEventListener('click', function(e) {
                    e.preventDefault();
                    e.stopPropagation();
                    
                    var isExpanded = button.getAttribute('aria-expanded') === 'true';
                    var dropdown = button.nextElementSibling;
                    
                    // Close all other dropdowns
                    dropdownButtons.forEach(function(otherButton) {
                        if (otherButton !== button) {
                            otherButton.setAttribute('aria-expanded', 'false');
                            var otherDropdown = otherButton.nextElementSibling;
                            if (otherDropdown) {
                                otherDropdown.style.display = 'none';
                            }
                        }
                    });
                    
                    // Toggle current dropdown
                    if (isExpanded) {
                        button.setAttribute('aria-expanded', 'false');
                        dropdown.style.display = 'none';
                    } else {
                        button.setAttribute('aria-expanded', 'true');
                        dropdown.style.display = 'block';
                    }
                });
            });
            
            // Close dropdowns when clicking outside
            document.addEventListener('click', function(e) {
                if (!e.target.closest('.dropdown')) {
                    dropdownButtons.forEach(function(button) {
                        button.setAttribute('aria-expanded', 'false');
                        var dropdown = button.nextElementSibling;
                        if (dropdown) {
                            dropdown.style.display = 'none';
                        }
                    });
                }
            });
        }
        
        YAHOO.util.Event.onDOMReady(initDropdowns);

        // Menu drawer functionality
        function initMenuDrawer() {
            var openButton = document.getElementById('open-menu-drawer');
            var closeButton = document.getElementById('close-menu-drawer');
            var menuDrawer = document.getElementById('menu-drawer');
            
            if (openButton && closeButton && menuDrawer) {
                // Open menu drawer
                openButton.addEventListener('click', function(e) {
                    e.preventDefault();
                    menuDrawer.removeAttribute('inert');
                    menuDrawer.setAttribute('open', '');
                    menuDrawer.showModal();
                });
                
                // Close menu drawer
                closeButton.addEventListener('click', function(e) {
                    e.preventDefault();
                    menuDrawer.setAttribute('inert', '');
                    menuDrawer.removeAttribute('open');
                    menuDrawer.close();
                });
                
                // Close menu drawer when clicking outside
                menuDrawer.addEventListener('click', function(e) {
                    if (e.target === menuDrawer) {
                        menuDrawer.setAttribute('inert', '');
                        menuDrawer.removeAttribute('open');
                        menuDrawer.close();
                    }
                });
                
                // Close menu drawer with Escape key
                document.addEventListener('keydown', function(e) {
                    if (e.key === 'Escape' && menuDrawer.hasAttribute('open')) {
                        menuDrawer.setAttribute('inert', '');
                        menuDrawer.removeAttribute('open');
                        menuDrawer.close();
                    }
                });
            }
        }
        
        YAHOO.util.Event.onDOMReady(initMenuDrawer);

        // Mini login form functionality
        function show_mini_login_form(suffix) {
            var miniLogin = document.getElementById('mini_login_top');
            
            if (miniLogin) {
                // Show the mini login form
                miniLogin.classList.remove('bz_default_hidden');
                
                // Focus on the email field
                var emailField = document.getElementById('Bugzilla_login' + suffix);
                if (emailField) {
                    emailField.focus();
                }
            }
            return false; // Prevent default link behavior
        }
        
        function hide_mini_login_form(suffix) {
            var miniLogin = document.getElementById('mini_login_top');
            
            if (miniLogin) {
                // Hide the mini login form
                miniLogin.classList.add('bz_default_hidden');
            }
            return false; // Prevent default link behavior
        }

        // Initialize mini login form handlers
        function initMiniLoginForm() {
            // Handle close button clicks
            var closeButtons = document.querySelectorAll('.hide_mini_login_form');
            closeButtons.forEach(function(button) {
                button.addEventListener('click', function(e) {
                    e.preventDefault();
                    var suffix = button.getAttribute('data-qs-suffix') || '_top';
                    hide_mini_login_form(suffix);
                });
            });
            
            // Handle login link clicks
            var loginLinks = document.querySelectorAll('.show_mini_login_form');
            loginLinks.forEach(function(link) {
                link.addEventListener('click', function(e) {
                    e.preventDefault();
                    var suffix = link.getAttribute('data-qs-suffix') || '_top';
                    show_mini_login_form(suffix);
                });
            });
        }
        
        YAHOO.util.Event.onDOMReady(initMiniLoginForm);
    // -->
    </script>

    [% FOREACH asset_url = concatenate_js(javascript_urls) %]
      [% PROCESS format_js_link %]
    [% END %]

    [%# this puts the live bookmark up on firefox for the Atom feed %]
    [% IF atomlink %]
       <link rel="alternate" 
             type="application/atom+xml" title="Atom feed" 
             href="[% atomlink FILTER html %]">
    [% END %]

    [%# Required for the 'Autodiscovery' feature in Firefox 2 and IE 7. %]
    <link rel="search" type="application/opensearchdescription+xml"
                       title="[% terms.Bugzilla %]" href="./search_plugin.cgi">
    <link rel="shortcut icon" href="[% favicon_url FILTER html %]">
    [% Hook.process("additional_header") %]
  </head>

  <body [% IF onload %] onload="[% onload %]"[% END %]
        class="bugzilla-mozilla-org skin-standard bug_modal platform-MacIntel
               [% FOREACH class = bodyclasses %]
                 [%+ class FILTER css_class_quote %]
               [% END %]">

<div id="wrapper">

<header id="header" role="banner" aria-label="Global Header">
  <div class="inner" role="none">
    <button type="button" class="iconic ghost" id="open-menu-drawer" aria-label="Open Site Menu">
      <span class="icon" aria-hidden="true" data-icon="menu"></span>
    </button>
    <div id="header-external-links" class="dropdown" role="none">
      <button type="button" id="header-external-menu-button" class="dropdown-button minor" aria-label="Show Mozilla Menu" aria-expanded="false" aria-haspopup="true" aria-controls="header-external-menu">
        <img src="/images/moz-fav-one-color-white-rgb.svg" width="32" height="32" alt="">
      </button>
      <ul class="dropdown-content right" id="header-external-menu" role="menu" aria-label="Mozilla Menu" style="display:none;">
        <li role="none">
          <a href="https://www.mozilla.org/" role="menuitem">
            <span class="label" role="none">Mozilla Home</span>
          </a>
        </li>
        <li role="separator"></li>
        <li role="none">
          <a href="https://www.mozilla.org/privacy/websites/" role="menuitem">
            <span class="label" role="none">Privacy</span>
          </a>
        </li>
        <li role="none">
          <a href="https://www.mozilla.org/privacy/websites/#cookies" role="menuitem">
            <span class="label" role="none">Cookies</span>
          </a>
        </li>
        <li role="none">
          <a href="https://www.mozilla.org/about/legal/" role="menuitem">
            <span class="label" role="none">Legal</span>
          </a>
        </li>
      </ul>
    </div>
    <h1 id="header-title" class="title" role="none">
      <a class="header-button" href="[% urlbase FILTER html %]" title="Go to home page">
        <span aria-label="Go to Bugzilla Home Page">[% terms.Bugzilla %]</span>
      </a>
    </h1>
    <form id="header-search" class="quicksearch" action="/buglist.cgi" data-no-csrf="" role="search" aria-label="Search Bugs">
      <button type="button" class="iconic ghost" id="show-searchbox" aria-label="Search Bugs">
        <span class="icon" aria-hidden="true" data-icon="search"></span>
      </button>
      <div class="searchbox-outer dropdown" role="combobox" aria-label="Quick Search" aria-haspopup="listbox" aria-owns="header-search-dropdown" aria-expanded="false">
        <span class="icon" aria-hidden="true" data-icon="search"></span>
        <input id="quicksearch_top" class="dropdown-button" name="quicksearch" autocomplete="off" value="" accesskey="s" placeholder="Search Bugs" title="Enter a bug number or some search terms" role="searchbox" aria-controls="header-search-dropdown" aria-label="Search Terms" aria-expanded="false">
        <div id="header-search-dropdown" class="dropdown-content dropdown-panel right" role="listbox" style="display: none;">
          <div id="header-search-dropdown-wrapper" role="none">
            [% IF user.queries.size %]
              <section id="header-search-dropdown-saved" role="group" aria-label="Saved Searches">
                <header role="none">
                  <h2 aria-hidden="true">Saved Searches</h2>
                  <a aria-label="Edit saved searches" href="/userprefs.cgi?tab=saved-searches">Edit</a>
                </header>
                <ul role="none">
                  [% FOREACH query = user.queries %]
                    <li role="none"><a role="option" href="/buglist.cgi?cmdtype=dorem&amp;remaction=run&amp;namedcmd=[% query.name FILTER uri %]&amp;sharer_id=[% query.user.id %]">[% query.name FILTER html %]</a></li>
                  [% END %]
                </ul>
              </section>
            [% END %]
            <section id="header-search-dropdown-help" role="group" aria-label="Help">
              <footer role="none">
                <a href="/page.cgi?id=quicksearch.html">Quick Search Tips</a>
                <a href="/query.cgi?format=advanced">Advanced Search</a>
              </footer>
            </section>
          </div>
        </div>
      </div>
    </form>
    <nav id="header-nav" role="menubar" aria-label="Site Links">
      <ul class="links" role="none">
        <li role="none">
          <a class="header-button" href="/describecomponents.cgi" title="Browse bugs by component" role="menuitem">
            <span class="icon" aria-hidden="true" data-icon="category"></span>
            <span class="label" role="none">Browse</span>
          </a>
        </li>
        <li role="none">
          <a class="header-button" href="/query.cgi?format=advanced" title="Search bugs using various criteria" role="menuitem">
            <span class="icon" aria-hidden="true" data-icon="pageview"></span>
            <span class="label" role="none">Advanced Search</span>
          </a>
        </li>
        <li role="none">
          <a class="header-button" href="/enter_bug.cgi" title="File a new bug" role="menuitem">
            <span class="icon" aria-hidden="true" data-icon="add_box"></span>
            <span class="label" role="none">New Bug</span>
          </a>
        </li>
        [% IF user.id %]
        <li role="none">
          <a class="header-button" href="/page.cgi?id=mydashboard.html" title="Show My Dashboard" role="menuitem">
            <span class="icon" aria-hidden="true" data-icon="dashboard"></span>
            <span class="label" role="none">My Dashboard</span>
          </a>
        </li>
        [% END %]
      </ul>
      <div class="dropdown" role="none">
        <button type="button" id="header-tools-menu-button" class="header-button dropdown-button minor" title="More tools…" role="menuitem" aria-label="Show More Tools Menu" aria-expanded="false" aria-haspopup="true" aria-controls="header-tools-menu">
          <span class="icon" aria-hidden="true" data-icon="more_horiz"></span>
        </button>
        <ul class="dropdown-content left" id="header-tools-menu" role="menu" aria-label="More Tools Menu" style="display:none;">
          [% IF user.id %]
          <li role="none">
            <a href="/request.cgi?requester=[% user.login FILTER uri %]&amp;requestee=[% user.login FILTER uri %]&amp;do_union=1&amp;group=type&amp;action=queue" role="menuitem">
              <span class="icon" aria-hidden="true" data-icon="inbox"></span>
              <span class="label" role="none">My Requests</span>
            </a>
          </li>
          [% END %]
          <li role="none">
            <a href="/report.cgi" role="menuitem">
              <span class="icon" aria-hidden="true" data-icon="analytics"></span>
              <span class="label" role="none">Reports</span>
            </a>
          </li>
          <li role="separator"></li>
          <li role="none">
            <a href="https://bmo.readthedocs.io/en/latest/" target="_blank" role="menuitem">
              <span class="icon" aria-hidden="true" data-icon="help"></span>
              <span class="label" role="none">Documentation</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    [% IF user.id %]
    <div id="header-requests" class="dropdown" role="none">
      <button type="button" id="header-requests-menu-button" class="dropdown-button minor" title="Requests for You" aria-expanded="false" aria-haspopup="true" aria-controls="header-requests-menu" aria-label="Show Requests for You">
        <span class="icon" aria-hidden="true"></span>
      </button>
      <section class="dropdown-content dropdown-panel left" id="header-requests-menu" role="menu" aria-label="Requests for You" style="display:none;">
        <header role="none">
          <h2 aria-hidden="true">Requests</h2>
          <a href="/request.cgi?action=queue&amp;requestee=[% user.login FILTER uri %]&amp;group=type" class="see-all" aria-label="See All Requests">See All</a>
        </header>
        <div class="empty">You're all caught up!</div>
      </section>
    </div>
    <div id="header-account" class="dropdown" role="none">
      <button type="button" id="header-account-menu-button" class="dropdown-button minor" title="Account" aria-label="Show Account Menu" aria-expanded="false" aria-haspopup="true" aria-controls="header-account-menu">
        [% IF user.gravatar_id %]
          <img src="https://secure.gravatar.com/avatar/[% user.gravatar_id %]?d=mm&amp;size=64" width="32" height="32" alt="">
        [% ELSE %]
          <img src="https://secure.gravatar.com/avatar/?d=mm&amp;size=64" width="32" height="32" alt="">
        [% END %]
      </button>
      <ul class="dropdown-content left" id="header-account-menu" role="menu" aria-label="Account Menu" style="display:none;">
        <li role="none">
          <div class="account-label" role="none">
            <div class="name" role="none">[% user.name || user.login.replace('@.*', '') FILTER html %]</div>
            <div class="email" role="none">[% user.login FILTER html %]</div>
          </div>
        </li>
        <li role="separator"></li>
        <li role="none">
          <a href="/user_profile?user_id=[% user.id %]" role="menuitem">
            <span class="icon" aria-hidden="true" data-icon="account_circle"></span>
            <span class="label" role="none">My Profile</span>
          </a>
        </li>
        <li role="none">
          <a href="/page.cgi?id=user_activity.html&amp;action=run&amp;who=[% user.login FILTER uri %]" role="menuitem">
            <span class="icon" aria-hidden="true" data-icon="timeline"></span>
            <span class="label" role="none">My Activity</span>
          </a>
        </li>
        <li role="none">
          <a href="/userprefs.cgi" role="menuitem">
            <span class="icon" aria-hidden="true" data-icon="settings"></span>
            <span class="label" role="none">Preferences</span>
          </a>
        </li>
        <li role="separator"></li>
        <li role="none">
          <a href="/index.cgi?logout=1" role="menuitem">
            <span class="icon" aria-hidden="true" data-icon="logout"></span>
            <span class="label" role="none">Log out</span>
          </a>
        </li>
      </ul>
    </div>
    [% ELSE %]
    <ul id="header-login" class="links" role="none">
      [% PROCESS "account/auth/login-small.html.tmpl" qs_suffix="_top" %]
    </ul>
    [% END %]
  </div>
  <dialog id="menu-drawer" inert="" aria-label="Site Menu">
    <div class="drawer-inner" role="none">
      <div class="header" role="none">
        <button type="button" class="iconic ghost" id="close-menu-drawer" aria-label="Close Site Menu">
          <span class="icon" aria-hidden="true" data-icon="close"></span>
        </button>
      </div>
      <ul role="menu" aria-label="Site Links">
        <li role="none">
          <a class="header-button" href="/describecomponents.cgi" title="Browse bugs by component" role="menuitem">
            <span class="icon" aria-hidden="true" data-icon="category"></span>
            <span class="label" role="none">Browse</span>
          </a>
        </li>
        <li role="none">
          <a class="header-button" href="/query.cgi?format=advanced" title="Search bugs using various criteria" role="menuitem">
            <span class="icon" aria-hidden="true" data-icon="pageview"></span>
            <span class="label" role="none">Advanced Search</span>
          </a>
        </li>
        <li role="none">
          <a class="header-button" href="/enter_bug.cgi" title="File a new bug" role="menuitem">
            <span class="icon" aria-hidden="true" data-icon="add_box"></span>
            <span class="label" role="none">New Bug</span>
          </a>
        </li>
        [% IF user.id %]
        <li role="none">
          <a class="header-button" href="/page.cgi?id=mydashboard.html" title="Show My Dashboard" role="menuitem">
            <span class="icon" aria-hidden="true" data-icon="dashboard"></span>
            <span class="label" role="none">My Dashboard</span>
          </a>
        </li>
        <li role="none">
          <a href="/request.cgi?requester=[% user.login FILTER uri %]&amp;requestee=[% user.login FILTER uri %]&amp;do_union=1&amp;group=type&amp;action=queue" role="menuitem">
            <span class="icon" aria-hidden="true" data-icon="inbox"></span>
            <span class="label" role="none">My Requests</span>
          </a>
        </li>
        [% END %]
        <li role="none">
          <a href="/report.cgi" role="menuitem">
            <span class="icon" aria-hidden="true" data-icon="analytics"></span>
            <span class="label" role="none">Reports</span>
          </a>
        </li>
        <li role="separator"></li>
        <li role="none">
          <a href="https://bmo.readthedocs.io/en/latest/" target="_blank" role="menuitem">
            <span class="icon" aria-hidden="true" data-icon="help"></span>
            <span class="label" role="none">Documentation</span>
          </a>
        </li>
      </ul>
    </div>
  </dialog>
</header> 

<main id="bugzilla-body" tabindex="-1">

<aside id="message-container" role="complementary">
  <noscript>
    <div class="noscript">
      <div class="inner">
        <p>Please enable JavaScript in your browser to use all the features on this site.</p>
      </div>
    </div>
  </noscript>
</aside>

<div id="main-inner">

    [% IF Param('announcehtml') %]
      [% Param('announcehtml') FILTER none %]
    [% END %]

    [% IF message %]
      <div id="message">[% message %]</div>
    [% END %]

[% BLOCK format_css_link %]
  <link href="[% asset_url FILTER html %]" rel="stylesheet" type="text/css">
[% END %]

[% BLOCK format_js_link %]
  <script type="text/javascript" src="[% asset_url FILTER mtime FILTER html %]"></script>
[% END %]
